
.CommercialSec.Faq{
background: url(../img/Factory-2.jpg) !important;
background-repeat: no-repeat !important;
background-size: cover !important;
}
.FaqSec {
    h2 {
        text-align: center;
    }

    .accordion-button.collapsed {
        color: $secondaryBlack;

        .minusIcon {
            display: none;
        }

        .plusIcon {
            display: block;
            background-color: $secondaryBlack;
            color: $WhiteClr;
        }
    }

    .accordion-button {
        color: $primary;
        padding: 20px;
        font-size: var(--fs18);
        font-weight: 700;
        gap: 0px 10px;

        img {
            width: 30px;
            transform: rotate(180deg)
        }

        i {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            line-height: 1.6;
            font-size: var(--fs16);
            text-align: center;
            margin-left: auto;
        }

        .minusIcon {
            display: block;
            color: $WhiteClr;
            background-color: $primary;
        }

        .plusIcon {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    .accordion-item {
        border: 1px solid #ddd !important;
        margin-bottom: 20px;

    }

    .accordion-body {
        padding: 0px 35px 35px 35px;
        color: $greyText;

    }

}